
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(249, 249, 249);
    font-family: 'Chakra Petch', sans-serif;
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    overflow: hidden;
}
.background li {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    border: solid 1px #00bf72;
    color: transparent;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 7s ease-in forwards infinite;
}
undefined
.background li:nth-child(0) {
    animation-delay: 0s;
    left: 0vw;
    top: 71vh;
    border-color: #004d7a;
}

.background li:nth-child(1) {
    animation-delay: 2s;
    left: 80vw;
    top: 94vh;
}

.background li:nth-child(2) {
    animation-delay: 4s;
    left: 19vw;
    top: 7vh;
    border-color: #008793;
}

.background li:nth-child(3) {
    animation-delay: 6s;
    left: 91vw;
    top: 64vh;
    border-color: #051937;
}

.background li:nth-child(4) {
    animation-delay: 8s;
    left: 50vw;
    top: 39vh;
    border-color: #a8eb12;
}

.background li:nth-child(5) {
    animation-delay: 10s;
    left: 41vw;
    top: 27vh;
    border-color: #008793;
}


.menu
{
    width: 100%;
    height: 620px;
    background: rgba(0,0,0,0.2);
    border: none;
    transition: all 1s ease;
}
.menu:hover
{
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 2px #05193760;
}
.links
{
    color: white !important;
    border-width: 0;
    transition: all 0.75s ease;
}

.cool-link { display:inline-block; margin:0;text-transform:uppercase; }
.cool-link:after {
  display:block;
  content: '';
  border-bottom: solid 3px #a8eb12;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.cool-link:hover:after  {  transform: scaleX(1); }
a:active:after { border-bottom: solid 3px #00bf72; transform: scaleX(1);}
/*
.cool-link.fromRight:after{ transform-origin:100% 50%; }
.cool-link.fromLeft:after{  transform-origin:  0% 50%; }
*/

.hide
{
    display: none;
}

.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }

  
  .slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }


  .show
{
  display: block;
  animation: fade 1.5s ease;
}

@keyframes fade {

  0%{
    opacity: 0%;
  }

  100%
  {
    opacity: 100%;
  }}

  .floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}


.icon
{
  width: 2rem;
  height: 2rem;
  transition: all 0.5s ease;
}

.icon:hover
{
  transform: rotateZ(40deg) scale(1.2);
  cursor: pointer;
}

.image-position
{
  display: block;
  position: relative;
  margin-left: 43.9%;
  top: -45%;
  
}


button
{
  font-family: 'Chakra Petch', sans-serif;
  padding:13px 32px;
  border-radius:10px;
  border: 1px solid #73b917;
  box-shadow: 1px 5px 1px 1px #a8eb12;
  background: #73b917;
  cursor:pointer;
  color: white;
  margin-left: 10%;
  transform: skewX(-10deg);
  transition: all 0.5s ease;
  

}

button:hover {
  background:linear-gradient(to bottom, #73b917 5%, #a8eb12 100%);
  box-shadow: 1px 5px 1px 1px #307010;
  transform: scale(1.2);
}


@media only screen and (min-width: 1500px) {
  .display {
    display: block !important;
  }
}


.fetcher
{
  font-family: 'Chakra Petch', sans-serif;
  padding:13px 32px;
  border-radius:10px;
  border: 1px solid #008793;
  box-shadow: 1px 5px 1px 1px #004d7a;
  background: #008793;
  cursor:pointer;
  color: white;
  margin-left: 10%;
  transform: skewX(-10deg);
  transition: all 0.5s ease;
  

}

.fetcher:hover {
  color: #004d7a;
  background:linear-gradient(to bottom, #fff 5%, #eee 100%);
  box-shadow: 1px 5px 1px 1px #004d7a;
  transform: scale(1.2);
}

.zone
{
  background: rgb(255,255,255,0.2);color:#a8eb12; border: 2px solid #a8eb12;
}

.zone:focus
{
  background: rgb(255,255,255,0.2);color:#a8eb12; border: 2px solid #a8eb12;
  outline: #a8eb12 !important;
}

.form-control:focus {
  border-color: #a8eb12;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(168, 235, 18, 0.5);
}