@font-face {
	font-family: 'Pe-icon-7-stroke';
	src:url('../fonts/Pe-icon-7-stroke.eot?-9uki6c');
	src:url('../fonts/Pe-icon-7-stroke.eot?#iefix-9uki6c') format('embedded-opentype'),
		url('../fonts/Pe-icon-7-stroke.woff?-9uki6c') format('woff'),
		url('../fonts/Pe-icon-7-stroke.ttf?-9uki6c') format('truetype'),
		url('../fonts/Pe-icon-7-stroke.svg?-9uki6c#Pe-icon-7-stroke') format('svg');
	font-weight: normal;
	font-style: normal;
}

svg
{
	width: 250px;
	height: 250px;
	position: relative;
	top: 20px;
}
